<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trellendar</title>

	<style type="text/css">
		body {
			text-align: center;
		}
	</style>
</head>
<body>
    <form action="~/TrelloLoginCallback">
        <input type="text" name="Token" />
        <input type="submit" />
    </form>
</body>
</html>
