@using Trellendar.WebSite.Nancy.Extensions
@{
    this.Initialize("Trello Log In", "LogIn");
}

<div>
    Click <a href="" redirect="@Html.Raw(Model.AuthorizationUrl)">here</a>
    to retrieve a token allowing Trellendar to read your Trello data.
</div>
<div>
    Please paste the token here and click "submit" button:
</div>
<form action="~/TrelloLogInCallback">
    <input type="hidden" name="UserID" value="@Model.UserID" />
    <input type="text" name="AccessToken" />
    <input type="submit" />
</form>
