@using Trellendar.WebSite.Nancy.Extensions
@{
    this.Initialize("Trello Log In", "Controller");
}

<div>
    Click <a href="#" ng-click="authorize()">here</a>
    to retrieve a token allowing Trellendar to read your Trello data.
</div>
<div>
    Please paste the token here and click "submit" button:
</div>
<form action="~/TrelloLogInCallback">
    <input type="hidden" name="UserID" value="@Model.UserID" />
    <input type="text" name="AccessToken" />
    <input type="submit" />
</form>

<script type="text/javascript">

    var Controller = function ($scope) {
        $scope.authorize = function() {
            redirect('@Html.Raw(Model.AuthorizationUrl)');
        };
    };

</script>