@using Trellendar.WebSite.Modules.UserProfile.Models
@inherits NancyRazorViewBase<IndexModel>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User profile</title>

	<style type="text/css">
		body {
			text-align: center;
		}
	</style>
</head>
<body>
    @Model.Email's profile...
</body>
</html>
