@using Trellendar.WebSite.Nancy.Extensions
@{
    this.Initialize("Your profile");
}

<div class="floatleft">
    @Model.Email's boards:
    @foreach (var boardName in Model.AvailableBoards.Values)
    {
        <div>
            @boardName
        </div>
    }
</div>
<div class="floatright">
    @Model.Email's calendars:
    @foreach (var calendarSummary in Model.AvailableCalendars.Values)
    {
        <div>
            @calendarSummary
        </div>
    }
</div>
<div class="floatnone"></div>

<script type="text/javascript">
    


</script>