<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>User profile</title>

	<style type="text/css">
		body {
			text-align: center;
		}
	</style>
</head>
	<body>
		<div style="float: left">
			@Model.Email's boards:
			@foreach (var boardName in Model.AvailableBoards.Values)
			{
				<div>
					@boardName
				</div>
			}
		</div>
		<div style="float: right">
			@Model.Email's calendars:
			@foreach (var calendarSummary in Model.AvailableCalendars.Values)
			{
				<div>
					@calendarSummary
				</div>
			}
		</div>
		<div style="float: none"></div>
	</body>
</html>
