<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.9-beta" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net45" />
  <package id="Nancy" version="0.18.0" targetFramework="net45" />
  <package id="Nancy.Authentication.Forms" version="0.18.0" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Ninject" version="0.18.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.18.0" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.18.0" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject.Extensions.ChildKernel" version="3.0.0.5" targetFramework="net45" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
</packages>