<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trellendar.WebSite</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
	<img src="~/Content/nancy-logo.png" alt="Nancy logo" /><br />
    <div>
        This view was rendered using the Nancy Razor view engine
    </div>
    <div>
        <a href="/Account/Create">Create Account</a>
    </div>
</body>
</html>
