@{
    this.Initialize();
}

@if (!Html.IsAuthenticated)
{
    <div>
        <a href="~/LogIn">@Resources.GoogleLogInAction</a>
    </div>
}
else
{
    <div>
        @Resources.UserGreeting.FormatWith(Html.CurrentUser.UserName)
        <ul>
            <li>
                <a href="~/UserProfile">@Resources.ViewProfileAction</a>
            </li>
            <li>
                <a href="~/LogOut">@Resources.LogOutAction</a>
            </li>
        </ul>
    </div>
}
